
#authcodes {
    position: fixed; top:28px; left: 0; width: 100%; height: calc(100% - 58px);
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.authcode-item {
    display: block;
    background: #fff;
    color: #111;
    position: relative;
    width: 100%;
    height: 5em;
    padding: 0 5px;
}

.authcode-item.active {
    background: rgb(31, 96, 237);
    color: #fff;
    stroke: #fff;
}

.authcode-item.active > .code-row > span > svg > .progress-value {
    stroke: #fff;
}


.authcode-item > .code-row {
    margin:-5px 2px 2px 2px;
    font-size: 2rem;
    display:flex;
    justify-content:space-between;
}

.authcode-item > .name-row {
    margin: -6px 2px 2px 2px;
    font-size: 0.8rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.authcode-item > .issuer-row {
    margin:1px 2px 2px 2px;
    font-size: 1.2rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.progress {
    transform: rotate(-90deg);
}

.progress-value {
    fill: none;
	stroke: #111;
	stroke-linecap: round;
}